---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$font-family-bby-script: 'baybayin_modern_scriptregular';
$font-family-bby-brush: 'baybayin_modern_brush_1Rg';
$font-family-bby-round: 'baybayin_modern_roundregular';

@font-face {
    font-family: 'baybayin_modern_scriptregular';
    src: url('baybayin_mod-webfont.woff2') format('woff2'),
         url('baybayin_mod-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baybayin_modern_brush_1Rg';
    src: url('baybayin_br1-webfont.woff2') format('woff2'),
         url('baybayin_br1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baybayin_modern_roundregular';
    src: url('baybayin_rnd-webfont.woff2') format('woff2'),
         url('baybayin_rnd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.bby-script{
  font-family:  $font-family-bby-script;
  font-size: 3em;
}
